{% extends 'collection/base.html' %}
{% load sidebar %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
        <div class="col-9">
            <div class="row row-cols-1 row-cols-md-3 coin_main">
                <h1>{{ coin.title }}</h1>
                <div class="coin_content">
                    <div class="coin_photo">
                        <img src="{{ coin.img.url }}" alt="coin_img">
                    </div>
                    <div class="coin_desc">
                        <p>Год: {{ coin.year }}</p>
                        <p>Номинал: {{ coin.denomination }}</p>
                        <p>Диаметр: {{ coin.diameter }}</p>
                        <p>Тираж: {{ coin.edition }}</p>
                        <p>Материал: {{ coin.material }}</p>
                        <p>Вес: {{ coin.weight }}</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
